/*https://coolors.co/320a28-511730-8e443d-cb9173-e0d68a <-- COLOR PALETTE */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #8E443D);
}

.announcement-banner {
  background-color: #d98ae0;
  color: #FFF;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
}

.card {
  padding: 2em;
  background-color: #5e007a;
  border-radius: 8px;
  margin-bottom: 1em;
}

.card button {
  background-color:rgb(130, 0, 170)a;
  color: white;
  width: 50%;
}
.card button:hover {
  background-color: rgb(193, 115, 203);
  color: black;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1em;
}

.titlecard {
  margin-bottom: 1em;
  background-color: #a000d1;
  border-radius: 8px;
}